# Ignore Python compiled files
__pycache__/
*.py[cod]

#Ignore system files
.DS_Store/

#Ignore editor files
.idea/
.vscode/

# Ignore jupyter notebooks
*.ipynb

# Ignore input and output folder
client_data/
output/
DRT_2024_Q3_AMND_CB.xlsx

# Ignore test files
test.py